{% extends "base.html" %}
{% block content %}
  <div class="banner">
    <h1>Notes
    </h1>
  </div>
  <main id="mainGrid" class="list-view">
  {% for post in posts %}
  <article class="">
    {% if 'image' in post %}
      <img src="{{ post.image }}" />
    {% endif %}
    <div class="text">
      <h3>{{ post.title }}</h3>
      {% if 'summary' in post %}
      <div class="summary">
        {{ post.summary }}
      </div>
      {% endif %}
      <div class="links">
        <div class="btn"><a class="btn-default" href="{{ post.date }}-{{ post.kebab}}.html">Read More</a></div>
        {% if 'projectLink' in post %}
        <div class="btn"><a class="btn-default" href="{{ post.projectLink }}" target="_">See it In Action!</a></div>
        {% endif %}
      </div>
    </div>
  </article>
  {% endfor %}
  </main>
{% endblock %}




